@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.background{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    background-color: lightgray;
    width: 90%;
}

nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px 10px;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    text-align: center;
    width: 100%;
}
nav a:hover{
    background-color: cyan;
}

h1{
    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
}
table, tr, th, td{
    border: 1px solid black;
}
table img{
    width: 320px;
    height: auto;
}
.cardBox{
    display: grid;
    grid-template-columns: 100%;
}
.card{
    display: grid;
    grid-template-columns: auto 90%;
    background-color: white;
    padding: 2rem 1.5rem;
    text-align-last: right;
    border: 2px solid gray;
    gap: 1rem;
}
.tekst, footer{
    margin:0rem 2rem 2rem 2rem;
    align-items: center;
    
}
@media screen and (min-width: 755px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px 10px;
        list-style-type: none;
        align-items: center;
        flex: 90%;
    }
    nav ul a{
        text-decoration: none;
        text-align: center;
        flex:90%;
        padding: 20px 20px 20px 0px;
    }
    #logo{
        padding: 0px 20px 0px 0px;
    }
    #logo:hover{
        background-color: inherit;
    }
    nav a:hover{
        background-color: cyan;
    }
    .tekst{
        display: flex;
    }
    .cardBox{
        grid-template-columns: auto auto 33%;
        margin: 2rem;
        gap: 2rem;
    }
}