*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.background{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    background-color: lightgray;
    width: 90%;
}

nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px 10px;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    text-align: center;
    width: 100%;
}
nav a:hover{
    background-color: cyan;
}

.tekst, footer{
    margin:2rem;
    align-items: center;
    
}
.tekst h1{
    align-items: start;
}
@media screen and (min-width: 700px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px 10px;
        list-style-type: none;
        align-items: center;
        flex: 90%;
    }
    nav ul a{
        text-decoration: none;
        text-align: center;
        flex:90%;
        padding: 20px 20px 20px 0px;
    }
    #logo{
        padding: 0px 20px 0px 0px;
    }
    #logo:hover{
        background-color: inherit;
    }
    nav a:hover{
        background-color: cyan;
    }
}